<p class="hint">The text from the text box will replace whatever is in the "path" field.</p>
<div class="form-group-stacked">
    <label>Path</label>
    <div class="form-fields">
        <textarea name="text" style="min-width: 600px; min-height: 300px;">{{text}}</textarea>
    </div>
</div>